*{
margin: 0px;
padding: 0px;
}
body{
    background-color: rgb(240, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator
{
 height: 560px;
    width: 400px; 
    padding: 20px;
    border:2px solid black;
    background-color: black;
    color: aliceblue;
    border-radius: 16px;
}
input{
    height: 60px;
    padding: 20px;
    width: 320px;
    margin: 10px;
    text-align: right;
    font-size: 50px;
    color:black;
    border-radius: 16px;
}
button{
    height: 60px;
    width: 60px;
    margin: 10px;
font-size: 24px;
border: none;
border-radius: 5px;
background-color:black;
color:white;
cursor: pointer;
border: 1px solid gray;
border-radius: 25px;
}
#ACbutton{
    background-color: rgba(243, 143, 13, 0.99);
}
#equalbutton{
       background-color: rgba(243, 143, 13, 0.99);
 }